@import "../../styles/mixins";
@import "../../styles/variables";

.custom-container-6 {
    width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: flex-start;

    @media only screen and (min-width: 1366px) and (max-width: 1600px) {
          width: 1266px;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1365px) {
          width: 1200px;
      }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
          width: 960px;
      }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
          width: 708px;
      }
      @media only screen and (max-width: 767px) {
          width: 100%;
      }

      .col-pro-60 {
        flex: 0 0 60%;
        max-width: 60%;
        position: sticky;
        bottom: 0rem;
        padding-right: 15px;
        padding-left: 15px;

        @media only screen and (min-width: 768px) and (max-width: 991px) {
              flex: 0 0 100%;
              max-width: 100%;
          }
          
          @media only screen and (max-width: 767px) {
              flex: 0 0 100%;
              max-width: 100%;
          }
          
          @media only screen and (min-width: 576px) and (max-width: 767px) {
              flex: 0 0 100%;
              max-width: 100%;
          }

          .easyzoom-style{
                position: relative;
              
                .easyzoom-pop-up {
                position: absolute;
                right: 25px;
                bottom: 25px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                background-color: #fff;
                color: #000;
                font-size: 16px;
                text-align: center;
                border-radius: 100%;
                z-index: 999;

                &:hover{
                    color: #e77878;        
                }
                }
              
              .easyzoom {
                a {
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
              }

              a img{
                width: 100%;
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
              }
                }

                .easyzoom-pop-up{
                    a img{
                        width: 100%;
                    }
                }

            span.product-sale {
                background-color: #DE3535;
                display: inline-block;
                color: #fff;
                right: 20px;
                top: 20px;
                width: 55px;
                height: 55px;
                line-height: 55px;
                border-radius: 100%;
                text-align: center;
                position: absolute;
                font-weight: 300;
                z-index: 999;
              }
              

          }
          
      }

      .col-pro-40 {
        flex: 0 0 40%;
        max-width: 40%;
        padding-left: 15px;
        padding-right: 15px;
        position: sticky;
        top: 2rem;

        @media only screen and (min-width: 768px) and (max-width: 991px) {
              flex: 0 0 100%;
              max-width: 100%;
          }
          
          @media only screen and (max-width: 767px) {  
              flex: 0 0 100%;
              max-width: 100%;
          }
          
          @media only screen and (min-width: 576px) and (max-width: 767px) {
              flex: 0 0 100%;
              max-width: 100%;
          }

          .quickview-content {
            padding: 42px 35px 20px;
    
            @media only screen and (min-width: 992px) and (max-width: 1199px) {
                padding: 15px 35px 20px;
            }
    
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                padding: 20px 35px 35px;
            }
            
            @media only screen and (max-width: 767px) {
                padding: 15px 15px 15px;
            }

            .pro-details-next-prv {
              float: right;
              line-height: 20px;
              margin-top: -70px;
              @include setFlex(row);

              @media only screen and (min-width: 768px) and (max-width: 991px) {
                margin-top: 0px;
              }
            
            @media only screen and (max-width: 767px) {
                margin-top: 10px;
            }
            
             a {
              font-size: 20px;
              margin: 0 3px;
            }
            }
            
           
            
            h2 {
              font-size: 36px;
              font-weight: 700;
              font-family: "Playfair Display", serif;
              margin: 0 0 2px;
    
              @media only screen and (max-width: 767px) {
                font-size: 26px;
             
            }
            }
    
            h3{
              font-size: 24px;
              margin: 30px 0 18px;
    
              span{
                text-decoration: line-through;
                font-size: 14px;
                margin-right: 5px;
    
              }
    
              @media only screen and (min-width: 768px) and (max-width: 991px) {
                  margin: 20px 0 18px;
              }
              
              @media only screen and (max-width: 767px) {
                  margin: 10px 0 10px;
              }
            }
    
            .quickview-ratting-review {
              @include setFlex(row,none,center);
    
            
                .quickview-ratting-wrap{
                  @include setFlex(row,none,none);

                  .quickview-ratting{
                    @include setFlex(row,none,none);


                    .yellow{
                      color: #f5b223;
                    }
  
                    .i{
                      color: $GrayColor1;
                    }
                  }
    
                  a{
                    color: #262626;
                    font-size: 10px;
                    margin-left: 5px;
                  }
    
    
                  }
    
                .quickview-stock{
                  @include setFlex(row,none,center);
                  margin-left: 24px;
    
                  span{
                    font-size: 10px;
                  }
    
                  .i{
                    font-size: 16px;
                    color: #e77878;
                    margin-right: 2px;
                    position: relative;
                    top: 3px;
                  }
    
                  
                }
            }
    
            .quickview-peragraph {
              p {
              font-size: 12px;
              line-height: 29px;
            }
    
            ul{
              margin: 30px 0 0;
    
              li{
                font-size: 12px;
                line-height: 1;
                position: relative;
                padding-left: 12px;
                margin: 0 0 29px;
    
                @media only screen and (max-width: 767px) {
                    line-height: 24px;
                    margin: 0 0 15px;
                }
    
                &:last-child{
                  margin: 0 0 0px;
                }
    
                &::before{
                  width: 5px;
                  height: 5px;
                  border-radius: 100%;
                  background-color: #e77878;
                  content: "";
                  left: 0;
                  top: 50%;
                  -webkit-transform: translateY(-50%);
                      -ms-transform: translateY(-50%);
                          transform: translateY(-50%);
                  position: absolute;
                }
    
              }
            }
          }
    
          .quickview-action-wrap{
            @include setFlex(row,none,center);
              margin: 80px 0 33px;  
    
              @media only screen and (min-width: 992px) and (max-width: 1199px) {
                  margin: 30px 0 30px;
              }
              
              @media only screen and (min-width: 768px) and (max-width: 991px) {
                  margin: 30px 0 30px;
              }
              
              @media only screen and (max-width: 767px) {
                  margin: 20px 0 20px;
                  display: block;
              }
              
              @media only screen and (min-width: 576px) and (max-width: 767px) {
                  display: flex;
              }
    
              .quickview-cart{
                margin: 0 26px 0 10px;
    
                @media only screen and (max-width: 767px) {
                    margin: 0 26px 20px 0px;
                }
                
                @media only screen and (min-width: 576px) and (max-width: 767px) {
                    margin: 0 26px 0 10px;
                }
                
                a {
                  display: inline-block;
                  font-size: 18px;
                  color: #fff;
                  padding: 15px 35px;
                  background-color: #262626;
                  
                  &:hover{
                    background-color: #e77878;
                  }
                }
              }
    
              .quickview-compare{
                margin-left: 30px;
                @media only screen and (max-width: 767px) {
                    margin-left: 0px;
                    margin-top: 14px;
                }
                @media only screen and (min-width: 576px) and (max-width: 767px) {
                    margin-left: 30px;
                    margin-top: 0px;
                }
                a{
                  font-size: 20px;
                  font-weight: bold;

                  &:hover{
                    color: $BrightRed;
                  }
                }
    
                .quickview-meta{
                    margin: 0 0 15px;
                  
                   span {
                    display: block;
                    font-size: 12px;
                    margin: 0 0 11px;
    
                    &:hover{
                      text-decoration: underline;
                    }
    
                    &:last-child{
                      margin: 0 0 0px;
                    }
                  }
                  
                }
              }
    
              .quickview-quality {
                margin: 7px 0 0;
    
                .cart-plus-minus{
                  display: inline-block;
                  height: 56px;
                  overflow: hidden;
                  padding: 0;
                  position: relative;
                  width: 100px;
                  text-align: center;
    
                  .qtybutton{
                    color: #333;
                    cursor: pointer;
                    float: inherit;
                    font-size: 18px;
                    line-height: 20px;
                    margin: 0;
                    position: absolute;
                    text-align: center;
                    -webkit-transition: all 0.3s ease 0s;
                    -o-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s;
                    width: 24px;
                  }
    
                  .qtybutton.dec{
                    height: 54px;
                    top: 17px;
                    left: 4px;
                    font-weight: 600;
                    font-size: 20px;
                  }
    
                  .qtybutton.inc{
                    height: 54px;
                    top: 18px;
                    right: 4px;
                    font-weight: 600;
                    font-size: 20px;
                  }
    
                  input{
                    .cart-plus-minus-box{
                      background: transparent none repeat scroll 0 0;
                      border: medium none;
                      color: #262626;
                      font-size: 14px;
                      height: 54px;
                      line-height: 54px;
                      margin: 0;
                      padding: 0px;
                      text-align: center;
                      width: 100px;
                      font-weight: 600;
    
                    }
                  }
                }
              }

              .quickview-wishlist{
                a{
                  &:hover{
                    color: $BrightRed;
                  }
                }
              }
    
           
              
          }

          .quickview-meta{
            margin: 0 0 15px;

            span{
              display: block;
              font-size: 12px;
              margin: 0 0 11px;
              a{
                &:hover{
                  text-decoration: underline;
                }
              }

              &:last-child{
               margin: 0 0 0px;
              }
            }


          }
          .default-social { 
            ul {
              li {
              display: inline-block;
              margin-right: 5px;
    
              &:hover{
                margin-right: 0px;
              }
    
              @media only screen and (min-width: 992px) and (max-width: 1199px) {
                  margin-right: 5px;
              }
              
              @media only screen and (min-width: 768px) and (max-width: 991px) {
                  margin-right: 8px;
              }
    
              a {
                font-size: 16px;
                border-style: solid;
                border-width: 1px 1px 1px 1px;
                border-color: #e1e1e1;
                border-radius: 100%;
                text-align: center;
                display: inline-block;
                color: #262626;
                -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                width: 38px;
                height: 38px;
    
                .i{
                  line-height: 37px;
                }
    
                &:hover{
                  color: #fff;
    
                  &.facebook{
                    background-color: #3b5998;
                  }
    
                  &.twitter{
                    background-color: #1da1f2;
                  }
    
                  &.youtube{
                    background-color: #cd201f;
                  }
    
                  &.dribble{
                    background-color: #ea4c89;
                  }
                }    
              }
    
            }
          }
        }
        }
      }

     
  }  

.breadcrumb-area{

  .custom-container-6{
    width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: flex-start;

    @media only screen and (min-width: 1366px) and (max-width: 1600px) {
      width: 1266px;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1365px) {
      width: 1200px;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      width: 960px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      width: 708px;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    .breadcrumb-content{
      position: relative;
      z-index: 9;

      ul{
        li{
          display: inline-block;
          margin: 0 2px;
          text-transform: capitalize;

          span{
            margin-right: 4px;
            display: inline-block;
            margin: 6px 4px 0 0;
            line-height: 1;
            position: relative;
            top: 1px;
          }

          a{
            text-transform: capitalize;
          }
        }
      }
    }
  }

}  
  
 
  

  
  
  
  
  

  
  
  
 
  
 
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
  
  
  
  
  
  @media only screen and (max-width: 767px) {
    .sidebar-active .product-details-content {
      margin-top: 0;
    }
  }
  
  .sidebar-active.col-pro-40 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .sidebar-active.col-pro-40.is-affixed {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .sidebar-active.col-pro-40.is-affixed .inner-wrapper-sticky {
    padding-left: 15px;
    padding-right: 15px;
  }
  
 
  @media only screen and (max-width: 767px) {
    .sidebar-active .product-details-content {
      margin-top: 0;
    }
  }
  
  .sidebar-active.col-pro-40 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .sidebar-active.col-pro-40.is-affixed {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .sidebar-active.col-pro-40.is-affixed .inner-wrapper-sticky {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  