@import "../../styles/mixins";
@import "../../styles/variables";

.ProductArea{
    padding: 2rem 1rem;

    .title{
        
        h2{
            font-family: "Playfair Display", serif;
            font-size: 36px;
            font-weight: 400;
            letter-spacing: 4px;
            text-align: center;
            margin: 0 0 24px;
            line-height: 32px;
        }
    
        p{
            color: $GrayColor4;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            margin: 0;
        }

    }

    


    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
     
        .div{
            width: 100%;
            margin: 1rem 0;
            max-width: 23%;
            padding: 10px;
            border: 1px solid pink;
     
            @media screen and (max-width:1300px) {
                max-width: 30%;
                
            }
     
            @media screen and (max-width:600px) {
                max-width: 100%;
                margin: 1rem 1rem;
            }
        }
     }
}