@import "../../styles/mixins";
@import "../../styles/variables";

.ProductArea{
    padding: 2rem 1rem;

    .title{

        h2{
            font-family: "Playfair Display", serif;
            font-size: 36px;
            font-weight: 400;
            letter-spacing: 4px;
            text-align: center;
            margin: 0 0 24px;
            line-height: 32px;
        }
    
        p{
            color: $GrayColor4;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            margin: 0;
        }

    }

    .tabs{
        position: relative;

        .product-tab-list{
            display: flex;
            justify-content: center;
            max-width: 1000px;
            margin: 60px auto 25px;
        }

        .more{
            position: absolute;
            right: 40px;
            top: 0;

            a {
                font-size: 11px;
                color: $BlackColor2;
                display: inline-block;
                position: relative;

                &:hover{
                    color: $BrightRed;
                }
            }

            @media screen and (max-width:767px) {
                position: static;
                right: 0px;
                left: 0;
                text-align: center;
                margin-bottom: 30px;
                
            }
        }
    }

    


    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
     
        .div{
            width: 100%;
            margin: 1rem 0;
            max-width: 23%;
            padding: 10px;
            border: 1px solid pink;
     
            @media screen and (max-width:1300px) {
                max-width: 30%;
                
            }
     
            @media screen and (max-width:600px) {
                max-width: 100%;
                margin: 1rem 1rem;
            }
        }
     }
}