@import "../../styles/variables";
@import "../../styles/mixins";

.description-review-wrapper{
  .description-review-topbar {
    margin-bottom: 50px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 20px;
  }

  a {
    font-size: 18px;
    font-weight: 600;
    padding: 28px 40px 30px;
    text-align: center;
    color: #777;
    line-height: 1;

    @media only screen and (min-width: 768px) and (max-width: 991px) {
       font-size: 16px;
       padding: 14px 20px 16px;
   }

   @media only screen and (max-width: 767px) {
      font-size: 14px;
      padding: 10px 12px 12px;
  }
  
  &.active {
    background-color: #262626;
    color: #fff;
  }
}
  




  }

  .description-review-bottom{
    .col-38 {
     
      flex: 0 0 38%;
      max-width: 38%;
      position: relative;
      padding-right: 15px;
      padding-left: 15px;

      @media only screen and (max-width: 767px) {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
          max-width: 100%;
        }
    }

    .col-62 {
      flex: 0 0 62%;
      max-width: 62%;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;

      @media only screen and (max-width: 767px) {
          flex: 0 0 100%;
          max-width: 100%;
      }

      .product-dec-content{
          padding-left: 20px;
        
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            padding-left: 0px;
        }
        
        @media only screen and (max-width: 767px) {
            padding-left: 0px;
        }
        
         p {
          line-height: 1.88;
          margin: 0;
        }
        
         ul {
          list-style-position: inside;
          margin: 30px 0 50px 12px;

          @media only screen and (min-width: 992px) and (max-width: 1199px) {
              margin: 15px 0 30px 12px;
          }
          
          @media only screen and (min-width: 768px) and (max-width: 991px) {
              margin: 15px 0 30px 12px;
          }
          
          @media only screen and (max-width: 767px) {
              margin: 15px 0 20px 12px;
          }
          
           li {
            margin-bottom: 16px;
            list-style: disc;
            line-height: 1.88;

            &:last-child{
              margin-bottom: 0;
            }
          }
        }
        
        

      }
    }

    .review-wrapper {
      h2 {
      font-size: 24px;
      margin: 0 0 27px;

      @media only screen and (max-width: 767px) {
          font-size: 18px;
          margin: 0 0 18px;
      }

      .single-review {
        margin: 0 0 60px;
        padding: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;

        @media only screen and (max-width: 767px) {
            padding: 30px;
            display: block;
            margin: 0 0 30px;
        }

        .review-img{
          img{
            border-radius: 100%;
          }
        }

        .review-content{
          margin-left: 50px;

          @media only screen and (max-width: 767px) {
              margin-left: 0px;
          }

          .review-top-wrap {
            display: flex;
            justify-content: space-between;
            margin: 0 0 40px;

            @media only screen and (max-width: 767px) {
                display: block;
                margin: 10px 0 10px;
            }

            .review-name{ 
              h5 {
              font-size: 12px;
              margin: 0;

              span{
                font-weight: bold;
              }
            }
          }

          .review-rating{
              line-height: 1;
            
            @media only screen and (max-width: 767px) {
                margin: 10px 0 0px;
            }
            
             .i {
              font-size: 12px;
              color: #d5d6d8;
            }
            
            .yellow {
              color: #f5b223;
            }

          }

            
          }

          p {
            font-size: 16px;
            color: #535353;
            font-family: "Playfair Display", serif;
            line-height: 1.714286;
            margin: 0;

            @media only screen and (max-width: 767px) {
                font-size: 15px;
            }

          }
          
         
          
          
      
        }
      }
      

    }
  }

  .ratting-form-wrapper{
    span {
      display: block;
      line-height: 1;
    }
    
     p {
      font-size: 12px;
      margin: 6px 0 0;

      span {
        color: red;
      }
      
    }
    
     
    .ratting-form {
      margin: 30px 0 0;

      .star-box-wrap{
        display: flex;
        margin: 16px 0 29px;

        .single-ratting-star{
          margin-right: 17px;
          display: flex;

          &:hover{
            i{
              color: #f5b223;
            }
          }
        }
      }

      .rating-form-style{
        label{
          margin: 0 0 5px;

          span{
            color: red;
          }
        }

        input{
          background: transparent;
          border: 1px solid #CDCDCD;
          height: 50px;
          padding: 5px 10px;
          &:focus{
            border: 1px solid #262626;
          }
  
        }
        textarea{
          background: transparent;
          border: 1px solid #CDCDCD;
          height: 50px;
          padding: 5px 10px;
  
          &:focus{
            border: 1px solid #262626;
          }
  
        }
      }

      .form-submit{
        input{
          padding: 10px 35px;
          line-height: 30px;
          color: #fff;
          border-width: 0;
          font-weight: 500;
          display: inline-block;
          width: auto;
          height: auto;
          background: #262626;

          &:hover{
            background: #e77878;
          }
        }
      }

     
    }  

  }

  .about-shiping-content{
    p {
    margin-bottom: 30px;
    line-height: 1.714286;
  }

  ul{
    margin-bottom: 20px;
    padding-left: 35px;

    li{
      margin-bottom: 16px;
      list-style: disc;
      line-height: 1.88;
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
}
  }

}
 
  
  
  
  
  
 
  
  
  