// Primary Colours
 $BlackColor:#262626;
 $BlackColor2:#373737;
 $GrayColor1:#d5d5d5;
 $GrayColor2:#b9b9b9;
 $GrayColor3:#767676;
 $GrayColor4:#777777;
 $BrightRed:#e77878;
 $WhiteGray:#eceff8;
 $mainBackground: #FEFCFB;

 $BlueColor:#4FC1F0;
  $BlueColor2:#50e3c2;
  $AvocadoGreen:#3f3f19;







// Neutral Colours


$main-font:'Poppins', sans-serif;