@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800|Dancing+Script:400,700|Caveat:400,700|Roboto+Condensed:300,400,700|Montserrat:300,400,500,600,700,800|Playfair+Display:400,400i,700,900&amp;display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


// abstracts
@import 'variables';
@import 'mixins';

body{
    box-sizing: border-box;
    font-family: $main-font;
    color:$BlackColor ;
}


