@import "../../styles/mixins";
@import "../../styles/variables";

.MobileNavbarItem{
    display: none;
}

.NavbarItems{
    display: block;
    position: relative;
    background:$mainBackground;
    height: 80px;
    @include setFlex(row,center,center);
    font-size: 1.2rem;

    .Part{
        position: absolute;
        left: 2rem;
        justify-content: start;

        .menuicon{
            display: block;
            margin-top: 2rem;
            cursor: pointer;
        }

        
        .navmenu{
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-gap: 35px;
            list-style: none;
            text-align: center;
            width: 20vw;
            justify-content:end;
    
            .navlinks{
                color:#312F2F;
                text-decoration: none;
                padding: 0.5rem 1rem;
                
    
                &:hover{
                    border-radius: 4px;
                    color: $BrightRed;
                    transition: all 0.5s ease-in;
                    transform: scale(0.9);
               }
            }
    
            
    
        }
    }

    


    .navbarlogo{
       display: block;
       text-align: center;
        justify-self: start;
        cursor: pointer;
        text-decoration: none;
        height: 3rem;
        width: 8rem;
        letter-spacing: 1.7rem;
        font-weight:1000;
    }
    

    .Search{
        @include setFlex(row,space-evenly);
        position: absolute;
        right: 2rem;
        padding: 1rem;
        width: 16rem;

        p{
            font-size: small;
            font-style: italic;
            font-weight: 800;

            span{
                font-weight: 400;
            }
        }

        .icons{
            font-size: 1.6rem;
            &:hover{
                color: $BrightRed;
                transition: all 0.5s ease-in;
                transform: scale(1.1);

            }
        }
    } 
}

.broad{
    @include setFlex(row, space-evenly, center);
    width: 100%;
    height:530px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;



    

    h1{
        margin: 2rem 0;
        font-size: larger;
        font-weight: bolder;
    }

    p{
        padding: 0.5rem 0;

        &:hover{
            color: $BrightRed ;
            cursor: pointer;

        }
    }

    &.active{
        background-color: rgba(0,0,0,1);
        // background-color: $GrayColor3;
        color: $mainBackground;
        left: 0;
        opacity: 0.85;
        transition: all 0.5s ease;
        z-index: 1;

    }

    .p1{
        @include setFlex(row,space-between, center);
        cursor: pointer;
        transition: all 0.5s ease;

        .drop{
            display: none;
        }

        &:hover{
            color: $BrightRed;

            .drop{
                display: block;
            }
        }
    }

    .show{
        // display: none;
        opacity: 0;
        transition: all 0.5s ease;


        &.active{
            // display:block ;
            opacity: 1;
        }
    }

    .notshow{
        display: none;
    }


}





@media screen and (max-width:828px){

    .NavbarItems{
        display: none;
    }


    .MobileNavbarItem{
        display: block;
        position: relative;
        height:80px;

        .navbarlogo{
            position: absolute;
            top: 0;
            left: 0;
            transform:translate(25%,50%);
            width: 6rem; 
            letter-spacing: 0.5rem;
            font-weight:1000;
        }

        .icons{
            position: absolute;
            top: 1rem;
            right: 4.3rem;
            font-size: 1.9rem;
        }

        .menuicon{
             display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-100%, 60%);
            font-size: 1.8rem;
            cursor: pointer;

        }

        .navmenu{
            @include setFlex(column,center,center);
            width: 70%;
            height: 700px;
            position: absolute;
            top: 80px;
            right: -100%;
            opacity: 1;
            transition: all 0.5s ease;
            padding: 2rem 0;

            &.active{     
                background: #FEFCFB;
                color: #312F2F;
                right: 0;
                opacity: 1;
                transition: all 1s ease;
                z-index: 1;
            }
            .port1{
                
            }
            .port2{

            }
            .port2{

            }
            .port3{

            }
            .port4{

            }

            .port5{
                @include setFlex(row-reverse, space-evenly, flex-start);
                width: 100%;

                .navlinks{
                    text-align: center;
                    padding: 2rem;
                    &:hover{
                        color: $BrightRed;
                    }
                }

            }

            
        }
    }

    .broad{
        display: none;
    }
}
