@import "../../styles/mixins";
@import "../../styles/variables";

.MobileNavbarItem{
    display: none;
}

.NavbarItems{
    display: block;
    position: relative;
    background:$mainBackground;
    height: 80px;
    @include setFlex(row,center,center);
    font-size: 1.2rem;

    .Part{
        position: absolute;
        left: 2rem;
        justify-content: start;

        .menuicon{
            display: block;
            margin-top: 2rem;
        }

        
        .navmenu{
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-gap: 35px;
            list-style: none;
            text-align: center;
            width: 20vw;
            justify-content:end;
    
            // &.active{     
            //     background:black;
            //     left: 0;
            //     opacity: 1;
            //     transition: all 0.5s ease;
            //     z-index: 1;
            // }
    
            .navlinks{
                color:#312F2F;
                text-decoration: none;
                padding: 0.5rem 1rem;
                
    
                &:hover{
                    border-radius: 4px;
                    color: $BrightRed;
                    transition: all 0.5s ease-in;
                    transform: scale(0.9);
               }
            }
    
            
    
        }
    }

    


    .navbarlogo{
       display: block;
       text-align: center;
        justify-self: start;
        cursor: pointer;
        text-decoration: none;
        height: 3rem;
        width: 8rem;
        letter-spacing: 1.7rem;
        font-weight:1000;
    }
    

    .Search{
        @include setFlex(row,space-evenly);
        position: absolute;
        right: 2rem;
        padding: 1rem;
        width: 16rem;

        p{
            font-size: small;
            font-style: italic;
            font-weight: 800;

            span{
                font-weight: 400;
            }
        }

        .icons{
            font-size: 1.6rem;
            &:hover{
                color: $BrightRed;
                transition: all 0.5s ease-in;
                transform: scale(1.1);

            }
        }
    } 
}

.broad{
    @include setFlex(row, center, center);
    width: 95vw;
    background-color: $GrayColor3;
    color: $mainBackground;
    z-index: 1;


}

.broad-close{
    display: none;
}





@media screen and (max-width:828px){

    .NavbarItems{
        display: none;
    }


    .MobileNavbarItem{
        display: block;
        position: relative;

        .navbarlogo{
            position: absolute;
            top: 0.4rem;
            left: 0;
            transform:translate(25%,50%);
            height: 3rem;
            width: 6rem; 
        }

        .menuicon{
             display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-100%, 60%);
            font-size: 1.8rem;
            cursor: pointer;

        }

        .navmenu{
            @include setFlex(column,center,center);
            width: 100%;
            height: 500px;
            position: absolute;
            top: 80px;
            left: -100%;
            opacity: 1;
            transition: all 0.5s ease;

            &.active{     
                background: #FEFCFB;
                left: 0;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: 1;
            }

            .navlinks{
                text-align: center;
                padding: 2rem;
                width: 100%;
                display: table;
                &:hover{
                    color: $BrightRed;
                }
            }
        }
    }

    .broad, .broad-close{
        display: none;
    }
}
