@import "../../styles/mixins";

@import "../../styles/variables";

.footer{
    @include setFlex(row, space-evenly);
    background-color:$BlackColor;
    color: $mainBackground;
    padding: 3rem 1rem 3rem 3rem;
    grid-gap: 3rem;

    h3{
        font-weight: bold;
        margin-bottom: 6px;
    }

    li{
        font-weight: 400;
    }

    @media screen and (max-width:798px){
        padding: 2rem 1rem;
    }


    .firstRow{
        @include setFlex(column);
        grid-gap: 1rem;

       div{
           @include setFlex(row);
            grid-gap: 1rem;

        .icons{
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background-color: $BrightRed;
                transform: scale(1.1);    
            }
        }
       }

       .navbarlogo{
           font-size: 2.5rem;
       }

    }
    .secondRow{
        @include setFlex(row);
        grid-gap: 0.5rem;
        padding: 1rem 0;

        li{
            padding: 0.4rem 0.1rem;
            cursor: pointer;

            &:hover{
                color: $BrightRed
            }
        }
    }

    .thirdRow{
        @include setFlex(column);

        input {
            width: 18rem;
            height: 5rem;
            background-color: transparent;
            color: $mainBackground;
            text-align: center;
            border: 1px solid $mainBackground;
        }
        p{
            display: block;
            opacity: 0.7;
        }

        button{
            padding: 1.5rem 7rem;
            background-color: $BrightRed;
            color: $mainBackground;
        }
    }
}


@media screen and (max-width:650px) {
    .footer{
        overflow: hidden;
        @include setFlex(column-reverse,space-evenly);
        background-color:$BlackColor;
        color: $mainBackground;
        padding: 3rem 3rem;
    
        .firstRow{
            @include setFlex(column-reverse);
            grid-gap: 3.5rem;
    
           div{
            @include setFlex(row);
            grid-gap: 1rem;
           }
    
        }
        .secondRow{
            @include setFlex(row);
            grid-gap: 5rem;
            padding: 1rem 0;
    
    
            li{
                padding: 0.4rem 0.5rem;
            }
        }
        .thirdRow{
            @include setFlex(column);
            grid-gap: 7rem;
    
            input {
                width: 18rem;
                height: 5rem;
                background-color: transparent;
                color: $mainBackground;
                text-align: center;
                border: 1px solid $mainBackground;
            }
            button{
                padding: 1.3rem 7rem;
                background-color: $BrightRed;
                color: $mainBackground;
            }
            p{
                display: none;
                opacity: 0.7;
            }
        }
    }
    
}