@import "../../styles/mixins";
@import "../../styles/variables";

.swiper{
    position: relative;
    height: 100vh;
    @include setFlex(row, flex-start, center);

    button{
        display: none;
        padding:1rem 1rem;
        color: $BlackColor;
        background-color: $GrayColor1;
    }


    .items{
        padding: 10rem 10rem;
        background-color: transparent;
        color: whitesmoke;
        @include setFlex(row, space-evenly, center);

    }
}