@import "../../styles/mixins";
@import "../../styles/variables";

.swiper{
    position: relative;
    height: 100vh;
    @include setFlex(row, flex-start, center);

    button{
        display: none;
        padding:1rem 1rem;
        background-color: $GrayColor1;
    }


    .items{
        padding: 1rem 1rem;
        background-color: transparent;
        @include setFlex(row, space-evenly, center);

        button{
            display: block;
            background-color: $BlackColor;
            color: $mainBackground;
            padding: 1rem 1rem;
        }



        


        .text-div{
            position: relative;

            .text{
                position: absolute;
                left: 50%;
                bottom: 30%;
                transform: translate(-50%,-50%);

            }

            .dollars{
                color: $BrightRed;
                font-size:3rem;
            }



           
  
            
            


            .bor{
                @include setFlex(row, space-between, center);
                width: 25rem;

                p{
                    font-weight: normal;
                    font-size: 1rem;
                }

                
    
                
            }
        }

        img{
            height: 40rem;
            width: 40rem;
        }


    }
}