@import "../../styles/mixins";
@import "../../styles/variables";

.swiper{
    position: relative;
    height: 100vh;
    @include setFlex(row, flex-start, center);

    

    button{
        display: none;
        padding:1rem 1rem;
        background-color: $GrayColor1;
    }


    .items{
        padding: 1rem 1rem;
        background-color: transparent;
        @include setFlex(row, space-evenly,center);

        @media screen and (max-width:600px) {
            @include setFlex(column, space-evenly, center)
            
        }

        button{
            display: block;
            background-color: $BlackColor;
            color: $mainBackground;
            padding: 0.4rem 0.9rem;
            font-size: 10;

            &:hover{
                background-color: $BrightRed;
            }
        }



        


            .text{


                .bor{
                    @include setFlex(row, space-between, center);
                    width: 25rem;
                    padding: 0.5rem 0.5rem;
    
                    p{
                        font-size: 1rem;
                    }
                }

                .dollars{
                    color: $BrightRed;
                    font-size: 1.5rem;
                    padding: 0.5rem 0.1rem;
                }

            }    

        img{
            height: 40rem;
            width: 40rem;

            @media screen and (max-width:600px) {
               height: 30rem;
               width: 30rem;
                
            }
        }


    }
}