@import "../../styles/mixins";
@import "../../styles/variables";

.carousel{
   
 .category-wrap{
    position: relative;
    overflow: hidden;
    -webkit-transition: all .35s ease 0s;
    -o-transition: all .35s ease 0s;
    transition: all .35s ease 0s;

    a img{
        width: 100%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all .35s ease 0s;
        -o-transition: all .35s ease 0s;
        transition: all .35s ease 0s;

        &:hover{
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
        }
    }

    .category-content{
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 21px 20px 22px;
        min-width: 180px;
        z-index: 9;

        h4{
            font-size: 18px;
            margin: 0;
            color: #fff;
            -webkit-transition: all .35s ease 0s;
            -o-transition: all .35s ease 0s;
            transition: all .35s ease 0s;
            text-align: center;
        }

        a{
            color: #fff;
        }

        &:hover{


            .category-content{
                h4{
                    letter-spacing: 1px;
                }
            }

            .default-overlay::before {
                background-color: #000;
                opacity: .4;
                z-index: 1;
                pointer-events: none;
            }
        }
    }
 }
    


    

    
    
}