@import "../../styles/mixins";
@import "../../styles/variables";

.carousel{
    position: relative;
    padding: 1rem 1rem;

    .carouselCard{
        background-image: url(../../assets/images/slider/img-slide11-01.png);
        height: 20rem;
        width: 10rem;
    }
    .carouselCard2{
        background-image: url(../../assets/images/slider/img-slide11-03.png);
        height: 20rem;
        width: 10rem;
    }
    .carouselCard3{
        background-image: url(../../assets/images/slider/img-slide11-02.png);
        height: 20rem;
        width: 10rem;
    }

    
    
}